<ion-toolbar class="animate__animated animate__slideInUp animate__fast">
  <ion-buttons slot="start">
    <ion-button (click)="close()">
      <ion-icon name="close" slot="icon-only" color="danger"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title align="center"> {{titleHeader}} eingeben</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="save()">
      <ion-icon name="checkmark" slot="icon-only" color="success"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
 
<ion-content >

  <ion-list class="animate__animated animate__slideInUp animate__fast">  
    <ion-card>
      <ion-item *ngIf="titleHeader == 'Schichtdaten'">
        <ion-label position="floating">Haupttätigkeit</ion-label>
        <ion-input tpye="text" [value]="title" (input)="insertTitle($event)"></ion-input>
        <ion-icon name="pencil" slot="end" color="primary"></ion-icon>
      </ion-item>
      <ion-item *ngIf="titleHeader == 'Termindaten'">
        <ion-label position="floating">Terminname</ion-label>
        <ion-input tpye="text" [value]="title" (input)="insertTitle($event)"></ion-input>
        <ion-icon name="pencil" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label position="floating">Details</ion-label>
        <ion-input tpye="text" [value]="desc"  (input)="insertDesc($event)"></ion-input>
        <ion-icon name="pencil" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-card>
    <ion-card>
       <!--Method without modal-->
      <!-- <ion-item (click)="showStartTimePicker = !showStartTimePicker">
        <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
        <ion-label>Start der Schicht</ion-label>
        <ion-text slot="end">
          {{startTime}}
        </ion-text>
      </ion-item> -->
      <!-- <ion-datetime *ngIf="showStartTimePicker" #dateTimeStart  [value]="dateStartValue" (ionChange)="updateStartTime(dateTimeStart.value)" 
      size="cover" showDefaultButtons="true" (ionCancel)= "showStartTimePicker = false;">
      </ion-datetime> -->
      <ion-item (click)="openStartDateModal()">
        <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
        <ion-label>Schichtstart</ion-label>
        <ion-text slot="end">
          {{startTime}}
        </ion-text>
      </ion-item>
      <!-- <ion-modal  class="date-modal" trigger="open-modal-start"  isOpen="true"
      swipeToClose="true" presentingElement="routerOutlet.nativeEl">
        <ng-template>
          <ion-content>
            <ion-datetime #dateTimeStart  [value]="dateStartValue" (ionChange)="updateStartTime(dateTimeStart.value)" 
            size="cover" showDefaultButtons="true" (ionCancel)= "showStartTimePicker = false;">
            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal> -->
    </ion-card>
    <ion-card>
      <!--Method without modal-->
      <!-- <ion-item (click)="showEndTimePicker = !showEndTimePicker">
        <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
        <ion-label>Start der Schicht</ion-label>
        <ion-text slot="end">
          {{endTime}}
        </ion-text>
      </ion-item> -->
      <!-- <ion-datetime *ngIf="showEndTimePicker" #dateTimeEnd  [value]="dateEndValue" (ionChange)="updateEndTime(dateTimeEnd.value)" 
      size="cover" showDefaultButtons="true" (ionCancel)= "showEndTimePicker = false;">
      </ion-datetime> -->

      <ion-item (click)="openEndDateModal()">
        <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
        <ion-label>Schichtende</ion-label>
        <ion-text slot="end">
          {{endTime}}
        </ion-text>
      </ion-item>
      <!-- <ion-modal class="date-modal" trigger="open-modal-end">
        <ng-template>
          <ion-content>
            <ion-datetime #dateTimeEnd  [value]="dateEndValue" (ionChange)="updateEndTime(dateTimeEnd.value)" 
            size="cover" showDefaultButtons="true" (ionCancel)= "showEndTimePicker = false;">
            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal> -->
      
    </ion-card>
    <!-- <ion-card>
      <ion-item>
        <ion-datetime #startTime  locale="de-DE" display-format="YYYY-MM-DDTHH:mm"   (ionChange)="updateStartTime(startTime.value)">
          <div slot="title"><h6>Start der Schicht</h6></div>
        </ion-datetime>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-datetime #endTime  locale="de-DE" display-format="YYYY-MM-DDTHH:mm" (ionChange)="updateEndTime(endTime.value)">
          <div slot="title"><h6>Ende der Schicht</h6></div>
        </ion-datetime>
      </ion-item>
    </ion-card> -->
  </ion-list>
  <!-- <ion-item>
    <ion-label position="floating">Haupttätigkeit</ion-label>
    <ion-input tpye="text" [(ngModel)]="event.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Details</ion-label>
    <ion-input tpye="text" [(ngModel)]="event.desc"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Start der Schicht</ion-label>
    <ion-datetime display-format="DD/MM/YYYY hh:mm" hourValues="07,08,09,10,11,12,13,14,15,16,17,18,19,20,21"  [(ngModel)]="event.startTime" monthShortNames='Jan, Feb, Mär, Apr, Mai, Jun, Jul, Aug, Sep, Okt, Nov, Dez' doneText="Ok" cancelText="Abbrechen"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Ende </ion-label>
    <ion-datetime display-format="DD/MM/YYYY hh:mm" displayFormat="DD/MM/YYYY hh:mm" hourValues="07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22"   [(ngModel)]="event.endTime" monthShortNames='Jan, Feb, Mär, Apr, Mai, Jun, Jul, Aug, Sep, Okt, Nov, Dez' doneText="Ok" cancelText="Abbrechen"></ion-datetime>
  </ion-item> -->
  <!-- <calendar
    *ngIf="modalReady"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    lockSwipes="true"
  >
  </calendar> -->
</ion-content>

<ion-content *ngIf="titleHeader == Termindaten">

  <ion-list>  
    <ion-card>
      <ion-item>
        <ion-label position="floating">Terminname</ion-label>
        <ion-input tpye="text" [value]="title" (input)="insertTitle($event)"></ion-input>
        <ion-icon name="pencil" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label position="floating">Details</ion-label>
        <ion-input tpye="text" [value]="desc"  (input)="insertDesc($event)"></ion-input>
        <ion-icon name="pencil" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-card>
    <ion-card>
       <!--Method without modal-->
      <!-- <ion-item (click)="showStartTimePicker = !showStartTimePicker">
        <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
        <ion-label>Start der Schicht</ion-label>
        <ion-text slot="end">
          {{startTime}}
        </ion-text>
      </ion-item> -->
      <!-- <ion-datetime *ngIf="showStartTimePicker" #dateTimeStart  [value]="dateStartValue" (ionChange)="updateStartTime(dateTimeStart.value)" 
      size="cover" showDefaultButtons="true" (ionCancel)= "showStartTimePicker = false;">
      </ion-datetime> -->
      <ion-item (click)="openStartDateModal()">
        <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
        <ion-label>Start der Schicht</ion-label>
        <ion-text slot="end">
          {{startTime}}
        </ion-text>
      </ion-item>
      <!-- <ion-modal  class="date-modal" trigger="open-modal-start"  isOpen="true"
      swipeToClose="true" presentingElement="routerOutlet.nativeEl">
        <ng-template>
          <ion-content>
            <ion-datetime #dateTimeStart  [value]="dateStartValue" (ionChange)="updateStartTime(dateTimeStart.value)" 
            size="cover" showDefaultButtons="true" (ionCancel)= "showStartTimePicker = false;">
            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal> -->
    </ion-card>
    <ion-card>
      <!--Method without modal-->
      <!-- <ion-item (click)="showEndTimePicker = !showEndTimePicker">
        <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
        <ion-label>Start der Schicht</ion-label>
        <ion-text slot="end">
          {{endTime}}
        </ion-text>
      </ion-item> -->
      <!-- <ion-datetime *ngIf="showEndTimePicker" #dateTimeEnd  [value]="dateEndValue" (ionChange)="updateEndTime(dateTimeEnd.value)" 
      size="cover" showDefaultButtons="true" (ionCancel)= "showEndTimePicker = false;">
      </ion-datetime> -->

      <ion-item (click)="openEndDateModal()">
        <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
        <ion-label>Ende der Schicht</ion-label>
        <ion-text slot="end">
          {{endTime}}
        </ion-text>
      </ion-item>
      <!-- <ion-modal class="date-modal" trigger="open-modal-end">
        <ng-template>
          <ion-content>
            <ion-datetime #dateTimeEnd  [value]="dateEndValue" (ionChange)="updateEndTime(dateTimeEnd.value)" 
            size="cover" showDefaultButtons="true" (ionCancel)= "showEndTimePicker = false;">
            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal> -->
      
    </ion-card>
    <!-- <ion-card>
      <ion-item>
        <ion-datetime #startTime  locale="de-DE" display-format="YYYY-MM-DDTHH:mm"   (ionChange)="updateStartTime(startTime.value)">
          <div slot="title"><h6>Start der Schicht</h6></div>
        </ion-datetime>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-datetime #endTime  locale="de-DE" display-format="YYYY-MM-DDTHH:mm" (ionChange)="updateEndTime(endTime.value)">
          <div slot="title"><h6>Ende der Schicht</h6></div>
        </ion-datetime>
      </ion-item>
    </ion-card> -->
  </ion-list>
  <!-- <ion-item>
    <ion-label position="floating">Haupttätigkeit</ion-label>
    <ion-input tpye="text" [(ngModel)]="event.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Details</ion-label>
    <ion-input tpye="text" [(ngModel)]="event.desc"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Start der Schicht</ion-label>
    <ion-datetime display-format="DD/MM/YYYY hh:mm" hourValues="07,08,09,10,11,12,13,14,15,16,17,18,19,20,21"  [(ngModel)]="event.startTime" monthShortNames='Jan, Feb, Mär, Apr, Mai, Jun, Jul, Aug, Sep, Okt, Nov, Dez' doneText="Ok" cancelText="Abbrechen"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Ende </ion-label>
    <ion-datetime display-format="DD/MM/YYYY hh:mm" displayFormat="DD/MM/YYYY hh:mm" hourValues="07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22"   [(ngModel)]="event.endTime" monthShortNames='Jan, Feb, Mär, Apr, Mai, Jun, Jul, Aug, Sep, Okt, Nov, Dez' doneText="Ok" cancelText="Abbrechen"></ion-datetime>
  </ion-item> -->
  <!-- <calendar
    *ngIf="modalReady"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    lockSwipes="true"
  >
  </calendar> -->
</ion-content>