
ion-content {
    ion-tabs {
        ion-tab-bar {
            --background: #fff;
            --color: #aaa;
            --color-selected: #fff;
            padding: 5px 0;
            margin: 20px;  // to make the tabs floating
            border-radius: 30px;
            ion-tab-button {
                .tab-highlight {
                    background-color: transparent;
                    height: 50px;
                    width: 50px;
                    border-radius: 25px;
                    display: grid;
                    align-items: center;
                    justify-items: center;
                    ion-icon {
                        font-size: 1.5rem;
                    }
                }
                &.tab-selected {
                    .tab-highlight {
                        background-color: #1970f1;
                    }
                }
            }
        }
    }
}