<!-- <ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar >
    <ion-buttons slot="start">  
      <ion-menu-button color="secondary" ></ion-menu-button>   
    </ion-buttons>  
    <ion-buttons slot="end">
      <ion-button class="bordered"  (click)="today()">
				<ion-icon color="secondary"  name="today-outline" slot="icon-only"></ion-icon>
			</ion-button>
      <ion-button class="bordered" (click)="loadEvents()">
        <ion-icon color="secondary" name="reload-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
  <h1 align="center">
    Arbeitsstunden
  </h1>
  <div class="slides ion-margin-bottom">

    <ion-row class="animate__animated animate__slideInUp animate__fast">
      
      <ion-col size="3" align="left">
        <ion-button fill="clear" (click)="changeMode('month')">
         Monat
        </ion-button>
      </ion-col>

      <ion-col size="6" text-center align="center" >
        <ion-button fill="clear"  (click)="changeMode('week')">
          Woche
         </ion-button>
      </ion-col>
      
      <ion-col size="3" align="right" >
        <ion-button fill="clear" (click)="changeMode('day')">
         Tag
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="animate__animated animate__slideInUp animate__fast">
      
      <ion-col size="3" align="left">
        <ion-button fill="clear" (click)="back()">
          <ion-icon color="secondary" name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col size="6" text-center align="center" >
        <ion-label position="floating" class="viewTitle">{{ viewTitle }}</ion-label>
      </ion-col>
      
  
      <ion-col size="3" align="right" >
        <ion-button fill="clear" (click)="next()">
          <ion-icon color="secondary" name="arrow-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  <calendar 
      [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      [showEventDetail] = "true"
      (onCurrentDateChanged)="onCurrentDateChanged($event)"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)" 
      startHour="6"
      endHour="20"
      step="30"
      startingDayWeek="1">
    </calendar>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCalModal()">
      <ion-icon  name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content> -->



 <!-- page header -->
 <ion-header mode="ios" [class.dark-theme]="dark">
  <ion-toolbar>
      <ion-title size="large">
          Ion Calendar
      </ion-title>
      <ion-button slot="end" fill="clear" class="active">
          <ion-icon name="calendar-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear">
          <ion-icon name="grid-outline"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [class.dark-theme]="dark">

  <!-- view options -->
  <div class="view-options-container">
      <ion-button class="active" fill="clear">
          <div class="button-content-container">
              <ion-icon name="grid-outline"></ion-icon>
              <ion-text>Month</ion-text>
          </div>
      </ion-button>

      <ion-button fill="clear">
          <div class="button-content-container">
              <ion-icon name="today-outline"></ion-icon>
              <ion-text>Week</ion-text>
          </div>
      </ion-button>

      <ion-button fill="clear">
          <div class="button-content-container">
              <ion-icon name="calendar-number-outline"></ion-icon>
              <ion-text>Day</ion-text>
          </div>
      </ion-button>

      <ion-button fill="clear">
          <div class="button-content-container">
              <ion-icon name="calendar-clear-outline"></ion-icon>
              <ion-text>Events</ion-text>
          </div>
      </ion-button>
  </div>

  <!-- calendar -->
  <div class="calendar-container">
      <ion-datetime #dateTime [value]="dateValue" (ionChange)="updateTime(dateTime.value)" 
          mode="ios"
          class="dark"
          presentation="monthdate"
          size="cover" >
      </ion-datetime>
          
  </div>

  <!-- selected date's events -->
  <div class="events-container">
      <!-- section header -->
      <ion-text class="section-header">
          <h2>
              Arbeitsstunden
          </h2>
      </ion-text>

      <ion-list  *ngIf="this.eventSource !== null" inset="false" class="ion-no-padding" >

          <!-- design project landing page -->
          <ion-item *ngFor="let event of this.eventSource" class="ion-no-padding" lines="none" (click)="onEventSelected(event)">
              <div class="event-container green" >
                  <ion-text>{{event.title}}</ion-text>
                  <div class="details-container">
                      <div class="indicator"></div>
                      <ion-text>{{event.startTime | date: "dd.MM.YYYY HH:mm"}} - {{event.endTime | date: "dd.MM.YYYY HH:mm"}}</ion-text>
                  </div>
              </div>
          </ion-item>

          <!-- meeting with client -->
          <!-- <ion-item class="ion-no-padding" lines="none">
              <div class="event-container blue">
                  <ion-text>Meeting with Client</ion-text>
                  <div class="details-container">
                      <div class="indicator"></div>
                      <ion-text>18.00 - 19.00</ion-text>
                  </div>
              </div>
          </ion-item> -->
      </ion-list>
          <!-- add button -->
   
  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCalModal()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>
</ion-content>

