@media (prefers-color-scheme: light) {
    ion-toolbar {
      --background: white;
      color: black;
    }
    .verticalScrollContainer {
      background: white;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    ion-toolbar {
      --background: black;
      color: white;
    }
    .verticalScrollContainer {
      background: black;
    }
  }

  ion-toolbar {
    --background: var(--color-toolbar-background);
    color: var(--color-toolbar-text);
  }
  .verticalScrollContainer {
    background: var(--color-toolbar-background);
  }